.cat-container {
    width: 90%;
    flex-wrap: wrap;
    justify-content: left;
    margin-top: 16px;
    display: flex;
    label {
        font-size: 16px;
        font-weight: 500;
        margin-right: 10px;
    }
    select {
        padding: 10px;
        cursor: pointer;
        width: 200px;
    }
    .table{
        margin-left: 20px;
        h3{
            font-size: 24px;
        }
        table{
            td{
                font-size: 18px;
                font-weight: 600;
            }
            img{
                width: 150px;
                height: 100px;
            }
        }
    }
}

